body {
    background-color: green;
}

#container {
    width: 100%;
    min-width: 1250px;
}

#header {
    background-color: white;
    color: green;
    text-align: center;
    border: 4px solid;
    border-radius: 10px;
    width: 750px;
    height: 50px; 
    margin: auto;
    margin-top: 200px;
    padding: 5px;
}

#header span{
    display: inline-block;
    vertical-align: middle;
    color: green;
    font-family: Georgia, serif;
    font-size: 46px;
    text-align: center;
    width: 500px; 
}

#signin {
    background-color: white;
    color: green;
    text-align: center;
    border: 4px solid white;
    border-radius: 10px;
    width: 400px;
    height: 100%; 
    margin: auto;
    margin-top: 20px;
    padding: 10px;
}

