body {
    background-color: green;
}

#containers #budget_display{
    position: relative;
    width: 900px;
    margin: 0px;
}

#containers #aggregates{
    position: absolute;
    color: green;
    background-color: white;
    border: solid white;
    padding-left: 20px;
    left: 925px;
    top: 98px;
    width: 300px;
}

.container {
    position: relative;
    border: solid white;
    border-radius: 5px;
    width: calc(100%-30px);
}

.category {
    position: relative;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    color: green;
    width: calc(100%-120px);
    padding: 5px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.container .category table {
    padding: 5px;
}

#header {
    background-color: white;
    color: green;
    text-align: center;
    border: 4px solid;
    border-radius: 10px;
    width: 750px;
    height: 100%; 
    margin: auto;
    margin-bottom: 20px;
    padding: 5px;
}

#header span{
    display: inline-block;
    vertical-align: middle;
    color: green;
    font-family: Georgia, serif;
    font-size: 46px;
    text-align: center;
    width: 500px; 
}

.categoryName{
    font-size: 24px;
    font-family: sans-serif;
}

.categoryGoal {
    position: absolute;
    right: 200px;
}

.categoryAmount {
    position: absolute;
    right: 300px;
}

.categoryEdit {
    position: absolute;
    right: 10px;
}

button.addCategory {
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

button.categoryShowHide {
    position: absolute;
    right: 40px;
    height: 31px;
}

.editButton,.deleteButton,.newButton {
    padding: 0px;
}

img {
    margin:0px;
}
