body {
    background-color: green;
}

#containers {
    width: 100%;
    min-width: 1250px;
}

#container {
    width: 100%;
    min-width: 1250px;
}

#containers #budget_display{
    position: relative;
    float: left;
    width: 70%;
}

#containers #sidebar {
    float: right;
    width: 26%;
    padding: 10px;
    text-align: left;
}

#aggregates{
    color: green;
    background-color: white;
    border: solid white;
    padding: 5px;
    margin-bottom: 5px;
}

#newcategory {
    color: green;
    padding: 5px;
    text-align: center;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

#containers #createPublicPage {
    color: green;
    padding: 5px;
    text-align: center;
    margin-top: 5px;
    background-color: white;
}

button.random {
    position: relative;
    height: 100%;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
}

.container {
    border: solid white;
    border-radius: 5px;
}

.category {
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    color: green;
    padding: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.container .category table {
    padding: 5px;
}

#header {
    position: static;
    background-color: white;
    color: green;
    text-align: center;
    border: 4px solid;
    border-radius: 10px;
    width: 60%;
    height: 100%; 
    margin: auto;
    margin-bottom: 20px;
    padding: 5px;
}

#header span{
    display: inline-block;
    vertical-align: middle;
    color: green;
    font-family: Georgia, serif;
    font-size: 46px;
    text-align: center;
    width: 500px; 
}

#homebutton {
    margin: auto;
    text-align: center;
}

.categoryName{
    font-size: 20px;
}

.categoryGoal {
    position: absolute;
    left: 400px;
}

.categoryAmount {
    position: absolute;
    left: 300px;
}

.categoryEdit {
    float: right;
    margin-left:2px;
    margin-right:2px;
}

.categoryDelete {
    float: right;
    margin-left:2px;
    margin-right:2px;
}

.endOfCtg {
    width:100%;
    text-align: center;
}

button.categoryShowHide {
    float: right;
    margin-left:2px;
    margin-right:2px;
    height: 20px;
}

.editButton,.deleteButton,.newButton {
    padding: 0px;
}

img {
    margin:0px;
}
