body {
    background-color: green;
}

#header {
    background-color: white;
    color: green;
    text-align: center;
    border: 4px solid;
    border-radius: 10px;
    width: 750px;
    height: 50px; 
    margin: auto;
    padding: 5px;
}

#header span{
    display: inline-block;
    vertical-align: middle;
    color: green;
    font-family: Georgia, serif;
    font-size: 46px;
    text-align: center;
    width: 500px;
}

#criteria {
    background-color: white;
    text-align: center;
    border: 4px solid green;
    border-radius: 10px;
    width: 1150px;
    height: 100px; 
    margin-left: 30px;
    margin-top: 40px;
    padding: 10px;
    float: left;
}

#criteria span {
    display: inline-block;
    vertical-align: middle;
    color: green;
    font-family: Georgia, serif;
    font-size: 30px;
    text-align: center;
}

#menu {
    margin-left: 49%;
    margin-top: 20px;
}

#rform {
    background-color: white;
    color: green;
    text-align: center;
    border: 4px solid;
    border-radius: 10px;
    width: 300px;
    height: 190px; 
    margin-left: 100px;
    margin-top: 40px;
    padding: 10px;
    float: left;
}

#rform input {
    padding: 5px;
}

